*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
gemfiles/*.gemfile.lock
_yardoc
coverage
doc/
features/active_record.yml
features/active_record.log
lib/bundler/man
pkg
rdoc
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
